//---------------------------------------------------------| TOOLS

//-------------------------------------------- clearfloat

clearfloat()
    &:after
        content: ""
        display: table
        clear: both

//-------------------------------------------- formatting

.i
    font-style: italic

//-------------------------------------------- javascript

#sanScript
    position: fixed
    top: 0
    font-size: 1.5em
    padding: 29px 0 28px 0
    margin: 0
    width: 100%
    background: rgba(0, 0, 0, 0.8)
    text-shadow: -1px -1px 0 rgb(0, 0, 0)
    color: #ddd
    text-align: center
    letter-spacing: -0.02em
    z-index: 3