//-------------------------------------------- structure

// about

#about main.index
    & section
        margin: 35px 0 200px 0
        padding: 0
        & header
            & h1
                font-size: 3.8em
                text-align: center
                margin: 0
                & img
                    width: 60px
                    margin: 0 15px 0 0
                    vertical-align: middle
        & article
            & p
                font-size: 1em
            & figure
                width: _16
                max-width: 400px
                & figcaption
                    font-family: 'Alegreya Sans', sans_serif
                    font-size: 1.1em
                    text-align: center
                    padding: 0.5em 0 0.7em
                    text-shadow: 1px 1px 0 _light_brown
                    linear_gradient(top, #D1BEB3, _light_brown)
                & img
                    width: _16
                    display: block
                    border-radius: 5px 5px 0 0
