//-------------------------------------------- structure

// gallery

#gallery main.index
    margin-bottom: 460px
    & header
        margin: 10px 0 0 0
        padding: 2.8em 0 2.2em 0
        text-shadow: 1px 1px 0 #F8F2EE
        background: transparent url('../images/gallery/header.png') no-repeat center
        background-size: contain
        & h1
            font-size: 5em
            text-align: center
            margin: 0
        & h2
            font-size: 2em
            line-height: 1.1
            text-align: center
            margin: 0
    & section:first-of-type
        margin-top: 0
        padding-bottom: 10px
        & a
            width: 47%
            position: relative
            margin: 0 2% 8px 0
            padding: 0
            display: inline-block
            &:nth-of-type(2n)
                margin-right: 0
            & img
                width: _16
                margin: 0
                padding: 0
                box-shadow: 2px 2px 2px #aaa
                border-radius: 5px
                &:last-of-type
                    position: absolute
                    top: 0
                    left: 0
                    margin: 0
                    padding: 0
                    box-shadow: none
                    z-index: 2

// fancybox augmentation
.bespoke .fancybox-skin
    background: _light_brown
    box-shadow: 0 0 10px #151515 !important
    border-radius: 0