@media only screen and (max-width: 480px)

    @-ms-viewport // win8
        width: device-width
        max-zoom: 2
        min-zoom: 0.5
    @-o-viewport // opera
        width: device-width
        max-zoom: 2
        min-zoom: 0.5
    @viewport // w3c
        width: device-width
        max-zoom: 2
        min-zoom: 0.5

    @import 'base'
    @import 'footer'    
    @import 'home'
    @import 'stay'
    @import 'to-dos'
    @import 'rates'
    @import 'maps'
    @import 'farm'
    @import 'gallery'
    @import 'about'
    @import 'contact'
    @import 'legal'