//---------------------------------------------------------| FOOTER

//-------------------------------------------- structure

footer
    position: absolute
    bottom: 0
    width: _16
    margin: 0
    padding: 15px 0 10px 0
    color: #82786E
    text-align: center
    border-top: 1px solid #000
    text-shadow: -1px -1px 0 #000
    background: #21170F
    box-shadow: inset 0 1px 1px #050505, inset 0 2px 1px #060606, inset 0 4px 2px #111
    > div
        width: _16
        margin: 0 auto
        > div
            width: _16
            float: left
            padding: 0.8em 0
            border-bottom: 1px solid #16100C
            box-shadow: 0 1px 0 #332820
            &:last-of-type
                border-bottom: none
                box-shadow: none
            &:last-of-type p
                font-size: 1.4em
                i
                    padding: 0 10px 0 0
            p
                display: inline-block
                font-size: 0.9em
                color: #82786E
                margin: 0.15em 0
                &:not(:last-of-type):after
                    content: ' \2022'
            &.tripadvisor
                text-shadow: none
                div
                    margin: unset
                    padding-left: unset
                    padding-right: unset
    > a
        position: absolute
        right: 10px
        bottom: 10px
        color: #42342C !important
        &:hover
            color: #665348 !important
            text-decoration: none !important

//-------------------------------------------- tables

footer table
    margin: 0 auto
    padding: 0
    & td
        font-size: 0.9em
        padding: 0.2em 0.35em 0.2em 0
    & th
        font-size: 0.9em
        text-align: left
        padding: 3px 0

//-------------------------------------------- anchors

footer a
    text-decoration: none
    transition(color 200ms ease)
    &:link
        text-decoration: none
        color: #82786E
    &:visited
        color: #82786E
    &:hover
    &:focus
        color: #B5ABA1
        text-decoration: underline
    &:active
        color: #82786E
