body#legal main
    margin-bottom: 400px
    &.index
        & h1
            font-size: 3em
            width: _5
            margin-top: 50px
            margin-bottom: 0.5em
            padding-bottom: 0.3em
            border-bottom: 1px solid _faded_brown
        & ul
            padding: 0
            list-style: disc
            list-style-position: inside
            & li
                font-size: 1em
    &.copy
        & h1, h2
            font-family: sans_serif
            text-transform: none
            margin-top: 1.4em
        & p
            font-family: sans_serif
            font-size: 0.9em
        & li
            font-size: 0.9em
            line-height: 1.4