//-------------------------------------------- structure

// activities

#to-dos
    & section:first-of-type
        margin-top: 50px
        padding: 3em 0 1.6em 0
        text-shadow: 1px 1px 0 #F8F2EE
        background: transparent url('../images/activities/header.png') no-repeat center
        background-size: contain
        & > h2
            font-size: 5.6em
            text-align: center
            margin: 0 0 0.13em 0
        & > h3
            font-size: 2.2em
            text-align: center
            line-height: 1.2
            margin: 0
    & section:last-of-type
        margin: 0 0 140px
        clearfloat()
        & article
            width: _16
            float: left
            margin: 1em 0
            &:nth-of-type(3)
                clear: left
            &:nth-of-type(5)
                clear: left
            & img
                float: left
                margin: 0 1.2em 0.2em 0
            & h3
                font-size: 2.7em
                margin: 0
            & p
                font-size: 1em
                margin: 0

//-------------------------------------------- headings


//-------------------------------------------- paragraphs


//-------------------------------------------- anchors


//-------------------------------------------- images


//-------------------------------------------- tables 