//-------------------------------------------- structure

// maps

#farm main.index
    & section:first-of-type
        margin-top: 60px
        padding: 3.1em 0 1.7em 0
        text-shadow: 1px 1px 0 #F8F2EE
        background: transparent url('../images/farm/header.png') no-repeat center
        background-size: contain
        & > h2
            font-size: 6.6em
            text-align: center
            margin: 0 0 0.13em 0
        & > h3
            font-size: 2.6em
            text-align: center
            margin: 0
    & section:last-of-type
        width: 62%
        margin: 60px auto
        clearfloat()
        & > div
            width: 30%
            float: left
            margin: 0 5% 0 0
            padding: 0
            & h4
                font-size: 2.5em
                text-align: center
                margin: 0.6em 0
                padding: 0
            &:nth-of-type(1) a
                background-image: url('../images/farm/citrus.png')
                & span
                    background-image: url('../images/farm/citrus_.png')
            &:nth-of-type(2) a
                background-image: url('../images/farm/mangoes.png')
                & span
                    background-image: url('../images/farm/mangoes_.png')
            &:nth-of-type(3)
                margin-right: 0
                & a
                    background-image: url('../images/farm/rooibos.png')
                    & span
                        background-image: url('../images/farm/rooibos_.png')
            & a
                position: relative
                display: block
                margin: 0
                padding: 50% 0
                background-repeat: no-repeat
                background-position: center
                background-size: contain
                & span
                    position: absolute
                    top: 0
                    left: 0
                    width: _16
                    margin: 0
                    padding: 50% 0
                    background-repeat: no-repeat
                    background-position: center
                    background-size: contain
                    transition(opacity 500ms ease)
                    &:hover
                        opacity: 0
                &:active
                    top: 1px
    & hr
        margin: 0 0 230px 0

// ----------------------------------------------- farm -> citrus

#farm main.citrus
    & section
        margin: 70px 0 0 0
        padding: 0
        & header
            & h1
                font-size: 5.4em
                text-align: center
                margin: 0
                & img
                    margin: 0 10px 0 0
                    vertical-align: middle
        & article
            clearfloat()
            & p
                font-size: 1.1em
            & figure
                width: auto
                &:nth-of-type(odd)
                    float: left
                    margin: 0 24px 0 0
                &:nth-of-type(even)
                    float: right
                    margin: 0 0 0 24px
                & figcaption
                    font-family: 'Alegreya Sans', sans_serif
                    font-size: 1.1em
                    text-align: center
                    padding: 0.5em 0 0.7em
                    text-shadow: 1px 1px 0 _light_brown
                    linear_gradient(top, #D1BEB3, _light_brown)
                & img
                    display: block
                    border-radius: 5px 5px 0 0

// ----------------------------------------------- farm -> mangoes

#farm main.mangoes
    & section
        margin: 70px 0 0 0
        padding: 0
        & header
            & h1
                font-size: 5.4em
                text-align: center
                margin: 0
                & img
                    margin: 0 10px 0 0
                    vertical-align: middle
        & article
            clearfloat()
            & p
                font-size: 1.1em
            & figure
                width: auto
                &:nth-of-type(odd)
                    float: left
                    margin: 0 24px 0 0
                &:nth-of-type(even)
                    float: right
                    margin: 0 0 0 24px
                & figcaption
                    font-family: 'Alegreya Sans', sans_serif
                    font-size: 1.1em
                    text-align: center
                    padding: 0.5em 0 0.7em
                    text-shadow: 1px 1px 0 _light_brown
                    linear_gradient(top, #D1BEB3, _light_brown)
                & img
                    display: block
                    border-radius: 5px 5px 0 0

// ----------------------------------------------- farm -> rooibos

#farm main.rooibos
    & section
        margin: 70px 0 0 0
        padding: 0
        & header
            & h1
                font-size: 5.4em
                text-align: center
                margin: 0
                & img
                    margin: 0 10px 0 0
                    vertical-align: middle
        & article
            clearfloat()
            & p
                font-size: 1.1em
            & figure
                width: auto
                &:nth-of-type(odd)
                    float: left
                    margin: 0 24px 0 0
                &:nth-of-type(even)
                    float: right
                    margin: 0 0 0 24px
                & figcaption
                    font-family: 'Alegreya Sans', sans_serif
                    font-size: 1.1em
                    text-align: center
                    padding: 0.5em 0 0.7em
                    text-shadow: 1px 1px 0 _light_brown
                    linear_gradient(top, #D1BEB3, _light_brown)
                & img
                    display: block
                    border-radius: 5px 5px 0 0
