@media only screen and (min-width: 1600px)
    @import 'base'
    @import 'home'
    @import 'stay'
    @import 'to-dos'
    @import 'rates'
    @import 'maps'
    @import 'farm'
    @import 'gallery'
    @import 'about'
    @import 'contact'
    @import 'legal'
    @import 'pay'
    @import 'footer'
